* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, p {
  color: #262626;
}
h1 {
  text-align: center;
}
body {
  background-color: #FAFAFA;
}



.logo {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
}

.inner-container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px 15px;
  margin-top: 30px;
  text-align: left;
}
.feed__spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(100vh - 120px);
}

.header {
  background-color: #fff;
  border-bottom: 1px solid rgb(219, 219, 219);
  color: #262626;
}
.header__inner {
  padding: 12px 20px;
  max-width: 975px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner a {
  text-decoration: none;
  color: #262626;
}
.navbar button {
  margin-left: 12px;
}
.navbar a {
  text-decoration: none;
}


.feed-item {
  overflow: hidden; 
  margin-bottom: 60px;
}
.feed-item img {
  width: 100%;
}
.feed-item__img-wrapper {
  max-height: 460px;
  overflow: hidden;
}
.feed-item__footer {
  width: 100%;
  text-align: right;
  padding: 10px 12px 7px 10px;
}

.about-page {
  background-color: #fff;
  padding-top: 30px;
}

hr {
  border-top: 0;
}
p {
  line-height: 1.45;
}
p a {
  /*color: #262626;*/
  color: #ED4956;
  font-weight: bold;
}

.favourite-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
}
.favourite-grid .feed-item {
  margin-bottom: 0;
}

.feed-item__footer svg {
  fill: #667889a6 !important;
  cursor: pointer;
}
.feed-item__footer svg.filled {
  fill: rgb(237, 73, 86) !important;
}





@media all and (max-width: 600px) {
  .feed-item {
    margin-bottom: 15px;
  }
  .searchbar {
    display: none;
  }
  .inner-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}


